[submodule "Code/app/Arm-2D"]
	path = Code/app/Arm-2D
	url = https://github.com/ARM-software/Arm-2D.git
[submodule "Code/app/perf_counter"]
	path = Code/app/perf_counter
	url = https://github.com/GorgonMeducer/perf_counter.git
